<a href="https://colab.research.google.com/github/GulMuneerBaloch/CopyGitHubRepotoComputer/blob/main/Python_Bootcamp_Graded_Hands_on_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Overview

Dear Learner, 

Congratulations, you have studied Python all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

Authors: Albana Celepija, Vinayak Deshpande

###Task 1

We have declared a tuple containing five same elements as following:
T = (‘python’, ‘python’, ‘python’, ‘python’, ‘python’).
Re-write the same code in an optimal/simple way that fetches the same result.

In [4]:
T = (["python", "python", "python", "python", "python"],)
print(type(T))

<class 'tuple'>

###Task 2

Write code to print characters from a string that are present at an even index number.
For example, if your input string is "python", the output characters will be (p,t,o).

In [ ]:

word = input('Enter word ')
print("Original String:", word)


size = len(word)

print("Printing only even index chars")
for i in range(0, size - 1, 2):
    print("index[", i, "]", word[i])

### Task 3

Write a function that calculates the average of the elements of the list: 

elements = [5, 7, 4, 9, 2]

In [2]:
elements = [5, 7, 4, 9, 2]
def Average(lst):
    return sum(lst) / len(lst)
print(Average(elements))

5.4

### Task 4
Write code to find if the given year is a leap year or not.

In [10]:
def CheckLeap(Year):  
  # Checking if the given year is leap year  
  if((Year % 400 == 0) or  
     (Year % 100 != 0) and  
     (Year % 4 == 0)):   
    print("Given Year is a leap Year");  
  # Else it is not a leap year  
  else:  
    print ("Given Year is not a leap Year")  
    Year = int(input("Enter the number: "))  
# Printing result  
CheckLeap(2004)

Given Year is a leap Year

### Task 5
Given a list of numbers (integers), find the sum of second maximum and second minimum in the following list.

l = [21, 6, 12, 57, 35, 61]

In [13]:
list1 = [21, 6, 12, 57, 35, 61]

def find_len(list1):
    length = len(list1)
    list1.sort()
    print("Largest element is:", list1[length-1])
    print("Smallest element is:", list1[0])
    print("Second Largest element is:", list1[length-2])
    print("Second Smallest element is:", list1[1])
    print("Sum of second maximum and second minimum is: ", list1[length-2] + list1[1])
find_len(list1)

Largest element is: 61
Smallest element is: 6
Second Largest element is: 57
Second Smallest element is: 12
Sum of second maximum and second minimum is:  69

##Scores

Each of the tasks is of 2 mark each and the scores will be given accordingly after the notebook review.